.git
.gitignore
.gradle
build
.idea
infra
manage.sh
docker-compose.yml
nginx.conf
micronaut-cli.yml
README.md
frontend/node_modules
frontend/dist
src/main/resources/static/index.html
src/main/resources/static/assets